.conteiner{
    background-imagen: url
    background-position center center;
    background-repeat: no-repeat;
    background;size: cover;
text-align:center;
color: rgb(27, 5, 169);
padding: 2000px;

}